<div class="col-md-6 col-lg-6 col-xl-6">
  <div class="card mb-3">
    <div class="row no-gutters person">
      <div class="portrait">
        <img
          onclick="window.open('{{ person.web }}');"
          src="{% if person.portrait %}{{site.url}}/img/{{ person.portrait}}{% elsif person.extportrait %}{{ person.extportrait }}{% else %}{{site.url}}/img/anonymous.jpg{% endif %}"
          class="card-img"
          alt="..."
        />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h4>
            {{person.engName}}<small
              ><br />{{person.name}}{% if person.name and person.degree %}, {%
              endif %}{{person.degree}}</small
            >
          </h4>
          {% if person.e-mail %}
          <p>{{person.e-mail}}</p>
          {% endif %}
        </div>

        <div class="card-text">
          {{ person.bio | newline_to_br | markdownify }}
        </div>
        <div class="jobtitle">
          <code>{{person.jobtitle}}</code>
        </div>
      </div>
    </div>
  </div>
</div>
