<div class="col-md-6 col-lg-6 col-xl-6">
  <div class="card mb-3">
    <div class="row no-gutters person">
      <div class="portrait">
        <img
          src="{% if person.portrait %}{{site.url}}/img/{{ person.portrait}}{% elsif person.extportrait %}{{ person.extportrait }}{% else %}{{site.url}}/img/ppl/anonymous.jpg{% endif %}"
          class="card-img"
          alt="..."
        />
      </div>
      <div class="card-body">
        <div class="card-title">
          <h4>
            {{person.engName}}<small
              ><br />{{person.name}}{% if person.name and person.degree %}, {%
              endif %}{{person.degree}}</small
            >
          </h4>
        </div>

        <div class="card-text">
          <p style="line-height: 1"><strong>Research Interests:</strong></p>
          <span
            style="
              line-height: 1;
              margin-top: -10px;
              margin-left: 5px;
              display: block;
            "
          >
            {{ person.bio | newline_to_br | markdownify }}
          </span>
        </div>

        <div class="jobtitle">
          <code>{{person.jobtitle}}</code>
          {% if person.e-mail %}
          <i
            class="far fa-envelope"
            onclick="copyEmail('{{ person.e-mail }}')"
            style="font-size: 20px; color: #3669c3; vertical-align: middle"
          ></i>
          {% endif %} {% if person.google_scholar %}
          <img
            onclick="window.open('https://scholar.google.com/citations?user={{ person.google_scholar }}');"
            src="{{site.url}}/img/default/google_scholar.png"
            alt="Google Scholar"
            style="width: 24px; height: 24px"
          />
          {% endif %} {% if person.web %}
          <i
            class="fas fa-home"
            onclick="window.open('{{ person.web }}');"
            style="font-size: 20px; color: #3669c3; vertical-align: middle"
          ></i>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script>
    function copyEmail(email) {
      const dummyInput = document.createElement("textarea");
      document.body.appendChild(dummyInput);
      dummyInput.value = email;
      dummyInput.select();
      document.execCommand("copy");
      document.body.removeChild(dummyInput);
      alert("Email copied to clipboard: " + email);
    }
  </script>
</div>
