{% assign totalItems = img_data | size %} {% assign itemsPerColumn = totalItems
| divided_by: 3 %} {% assign remainder = totalItems | modulo: 3 %} {% assign
column1_end = itemsPerColumn %} {% assign column2_end = itemsPerColumn %} {%
assign column3_end = itemsPerColumn %} {% if remainder==1 %} {% assign
column1_end = itemsPerColumn | sum | plus: 1 %} {% elsif remainder==2 %} {%
assign column1_end = itemsPerColumn | sum | plus: 1 %} {% assign column2_end =
itemsPerColumn | sum | plus: 1 %} {% endif %} {% assign column1 = img_data |
slice: 0, column1_end %} {% assign column2 = img_data | slice: column1_end,
column2_end %} {% assign column3_start = column1_end | sum | plus: column2_end
%} {% assign column3 = img_data | slice: column3_start, column3_end %}

<div class="row">
  <div
    class="col-md-4 col-lg-4 col-xl-4"
    style="padding: 0; margin: 0; flex: 0 0 calc(33.33% - 0.5rem)"
  >
    {% for photo1 in column1 %}
    <div class="card">
      <img src="{{ site.url }}{{ photo1 }}" class="card-img" alt="..." />
    </div>
    {% endfor %}
  </div>

  <div
    class="col-md-4 col-lg-4 col-xl-4"
    style="padding: 0; margin: 0; flex: 0 0 calc(33.33% - 0.5rem)"
  >
    {% for photo2 in column2 %}
    <div class="card">
      <img src="{{ site.url }}{{ photo2 }}" class="card-img" alt="..." />
    </div>
    {% endfor %}
  </div>

  <div
    class="col-md-4 col-lg-4 col-xl-4"
    style="padding: 0; margin: 0; flex: 0 0 calc(33.33% - 0.5rem)"
  >
    {% for photo3 in column3 %}
    <div class="card">
      <img src="{{ site.url }}{{ photo3 }}" class="card-img" alt="..." />
    </div>
    {% endfor %}
  </div>
</div>
