<div style="padding: 20px">
  <div class="row no-gutters person">
    <div class="portrait" id="portraitDiv" onclick="changePortrait()">
      <img
        src="{{site.url}}/img/{{ person.portrait}}"
        class="card-img"
        alt="..."
        style="border-radius: 100px; outline: 1px solid lightgray"
        id="portraitImage"
      />
    </div>
    <div class="card-body">
      <div class="card-title">
        <h4>
          {{person.engName}}<small
            ><br />{{person.name}}{% if person.name and person.degree %}, {%
            endif %}{{person.degree}}</small
          >
        </h4>
      </div>
      <button
        class="btn btn-sm btn-outline-primary copy-btn"
        data-clipboard-text="{{ person.e-mail }}"
      >
        dshar@kaist.ac.kr
      </button>
      <button
        class="btn btn-sm btn-outline-primary copy-btn"
        data-clipboard-text="{{ person.phone }}"
      >
        +82-42-350-1267
      </button>
      <img
        onclick="window.open('https://scholar.google.com/citations?user={{ person.google_scholar }}');"
        src="{{site.url}}/img/default/google_scholar.png"
        alt="Google Scholar"
        style="width: 24px; height: 24px"
      />
      <div class="card-text" style="margin-top: 10px">
        <hr />
        <p style="margin-top: 5px; margin-bottom: 1px; display: block">
          <strong>Bio:</strong> {{ person.bio | newline_to_br | markdownify }}
        </p>
        <hr />
        <p style="margin-top: 5px; margin-bottom: 1px; display: block">
          <strong>Work Experience:</strong> {{ person.Work | newline_to_br |
          markdownify }}
        </p>
        <hr />
        <p style="margin-top: 5px; margin-bottom: 1px; display: block">
          <strong>Research Interests:</strong> {{ person.Research |
          newline_to_br | markdownify }}
        </p>
        <hr />
        <p style="margin-top: 5px; margin-bottom: 1px; display: block">
          <strong>Honors:</strong>
          {{ person.Honors_and_Awards.Honors | newline_to_br |markdownify }}
        </p>
        <hr />
        <p style="margin-top: 5px; margin-bottom: 1px; display: block">
          <strong>Best Paper Awards:</strong>
          {{ person.Honors_and_Awards.Awards | newline_to_br |markdownify }}
        </p>
      </div>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var clipboard = new ClipboardJS(".copy-btn");

        clipboard.on("success", function (e) {
          e.clearSelection();
          alert("Copied to clipboard!");
        });
      });
    </script>
  </div>
  <div>
    <h5 class="card-header"><strong>Publications</strong></h5>
    <ul class="card-body">
      {% for paper in site.data.publications %}
      <div style="margin-bottom: 10px">
        <div>
          <strong
            ><big
              ><a style="color: black" href="{{ paper.Link }}"
                >{{ paper.Title }}</a
              ></big
            ></strong
          >
        </div>
        <div style="margin-left: 10px; margin-top: 0px">{{paper.Authors}}</div>
        {% if paper.Journal %}
        <div style="margin-left: 10px; margin-top: 0px">
          {{ paper.Journal }}, {{ paper.Year }}
        </div>
        {% endif %} {% if paper.Conference %}
        <div style="margin-left: 10px; margin-top: 0px">
          {{ paper.Conference }}, {{ paper.Year }}
        </div>
        {% endif %} {% if paper.Patent %}
        <div style="margin-left: 10px; margin-top: 0px">
          {{ paper.Patent }}, {{ paper.Year }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </ul>
  </div>

  <script>
    var portraitIndex = 1;
    var portraits = ["{{ person.portrait }}", "/ppl/vil2.png"];

    var clickCounter = 0;

    function changePortrait() {
      clickCounter++;

      if (clickCounter === 50) {
        clickCounter = 0;

        var portraitImage = document.getElementById("portraitImage");
        portraitIndex = (portraitIndex % portraits.length) + 1;
        portraitImage.src = "{{site.url}}/img/" + portraits[portraitIndex - 1];
      } else if (clickCounter === 1) {
        setTimeout(function () {
          clickCounter = 0;
        }, 10000);
      }
    }
  </script>
</div>
