---
layout: default
---

<div id="home">
  {% if site.show_header %}
  <header>
    <h1>{{ site.title }}</h1>
  </header>
  {% endif %} {% for item in site.data.notice %} {% if item.status == "open" %}
  <div id="notice" class="shadow-lg mb-3">
    <div class="jumbotron">
      <h4>{{ item.title }}</h4>
      <p>{{ item.notice }}</p>
      <button id="closeNotice">Close</button>
    </div>
  </div>

  <script>
    // JavaScript to handle the close button
    document
      .getElementById("closeNotice")
      .addEventListener("click", function () {
        var notice = document.getElementById("notice");
        notice.style.display = "none";
      });
  </script>
  {% endif %} {% endfor %}

  <div
    id="carouselIndicators"
    class="carousel slide shadow"
    data-ride="carousel"
    style="margin-bottom:20px"
  >
    <ol class="carousel-indicators">
      {% for fig in site.data.info.mainFig %}
      <li
        data-target="#carouselIndicators"
        data-slide-to="{{ forloop.index0 }}"
        {%
        if
        forloop.first
        %}class="active"
        {%
        endif
        %}
      ></li>
      {% endfor %}
    </ol>

    <div class="carousel-inner">
      {% for fig in site.data.info.mainFig %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        <div class="row" style="margin: 0px">
          <div class="col-md-6 text-section">
            <h3>{{ fig.title }}</h3>
            <p>{{ fig.description }}</p>
          </div>

          <div class="col-md-6 img-section">
            <img
              src="img/{{ fig.image }}"
              class="d-block w-100"
              alt="{{ fig.title }}"
            />
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <a
      class="carousel-control-prev"
      href="#carouselIndicators"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselIndicators"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <h3>Recent Publications</h3>
  <div id="publications" class="container-fluid">
	<ul class="card-body" style="padding:1rem;">
  	{% for paper in site.data.publications %}
		{% if paper.Important contains
      "es" or paper.Important contains "tr" %}
      <li class="mb-2">
        <div>
          <strong><big><a style="color: black; margin-top: 50px;" href="{{ paper.Link }}">{{ paper.Title }}</a></big></strong>
        </div>
        <div style="margin-left: 0px; margin-top: 0px;">
          {{paper.Authors}}
        </div>
        {% if paper.Journal %}
        <div style="margin-left: 0px; margin-top: 0px;">
          {{ paper.Journal }}, {{ paper.Year }}
        </div>
        {% endif %}
        {% if paper.Conference %}
        <div style="margin-left: 0px; margin-top: 0px;">
          {{ paper.Conference }}, {{ paper.Year }}
        </div>
        {% endif %}
      </li>
  	{% endif %}
  	{% endfor %}
  </div>
</div>
