---
layout: default
title: Lab News
menu: news
---

<hr />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<header class="post-header">
  <h6 class="post-title">
    <i class="fa fa-home" aria-hidden="true"></i> > News
  </h6>
</header>
<div id="news" class="container-fluid pt-4">
  <!-- This loops through the paginated posts -->
  <div class="row">
    {% for post in paginator.posts %}
    <div class="card-group col-md-6 col-lg-6 col-xl-4">
      <a href="{{site.url}}{{ post.url }}" class="card m-2 shadow card-link">
        <!-- Card content goes here -->
        <div class="card-header">
          <h3 class="mb-0">{{ post.title }}</h3>
          <p class="author ml-2 mt-0 mb-0">
            <span class="date">{{ post.date | date: "%Y.%m.%d" }}</span>
          </p>
        </div>
        <div class="card-body">
          <div class="image-container">
            {% if post.fig %}
            <img src="../img/{{ post.fig[0] }}" class="card-img-top" />
            {% endif %}
          </div>
          <h5 class="card-title">{{ post.subtitle }}</h5>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<!-- Updated script for handling redirection -->
<script>
  $(document).ready(function () {
    $(".card-link").click(function (e) {
      e.preventDefault();

      var imageContainer = $(this).find(".image-container");
      var postPageUrl = $(this).attr("href");

      // Check if there are images in the container
      if (imageContainer.children("img").length == 0) {
        window.location.href = postPageUrl;
      } else if (imageContainer.children("img").length === 1) {
        window.location.href = $(this).attr("href");
      } else {
        var firstImageSrc = imageContainer.find("img:first").attr("src");
        var postPageUrl = $(this).attr("href");

        var postPageWithFirstImage = postPageUrl + firstImageSrc;
        window.location.href = postPageWithFirstImage;
      }
    });
  });
</script>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<nav id="pagination">
  <ul class="pagination justify-content-center">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ paginator.previous_page_path | relative_url }}"
        >&laquo; Newer</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">&laquo; Newer</a>
    </li>
    {% endif %} {% for page in (1..paginator.total_pages) %} {% if page ==
    paginator.page %}
    <li class="page-item active">
      <a class="page-link" href="#"
        >{{ page }}<span class="sr-only">(current)</span></a
      >
    </li>
    {% elsif page == 1 %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ paginator.previous_page_path | relative_url }}"
        class="btn btn-primary"
        role="button"
        >{{ page }}</a
      >
    </li>
    {% else %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ site.paginate_path | relative_url | replace: ':num', page }}"
        >{{ page }}</a
      >
    </li>
    {% endif %} {% endfor %} {% if paginator.next_page %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ paginator.previous_page_path | relative_url }}"
        >Older &raquo;</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Older &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
