<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <div class="navbar-brand-wrapper">
      <a class="navbar-brand mb-2 h1" href="/{% if page.language %}{{ page.language }}{% endif %}" title="Home">
        <img class="logo" src="{{ site.logo | prepend: "/img/" | prepend: site.url}}" alt=""> {{ site.short_labname }}
      </a>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navMenuBar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navMenuBar">
    <ul class="navbar-nav ml-auto">
      {% for page in site.pages %}
          {% assign TEMP = page.menu | downcase | append:"|" | prepend:TEMP %}
      {% endfor %}
      {% assign menus = TEMP | split: '|' | uniq %}

      {% for menu in menus %}
    	{% unless menu == "" %}
    	<li>
    		<a class="nav-link" href="{{site.url}}/{% if page.language %}{{ page.language }}/{% endif %}{{ menu }}">
    			<i class="fa fa-{{my_page.icon}}"></i>{{ menu | capitalize }}
    		</a>
    	</li>
    	{% endunless %}
    	{% endfor %}
    </ul>

  </div>
</nav>
