<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta property="og:image" content="/img/{{site.logo}}">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

	<title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.short_labname | escape }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="format-detection" content="telephone=no">
	{% if site.google-site-verification %}<meta name="google-site-verification" content="OCMXv8hMq12HQX9HLENM1EBGXgoTb6rR6n2SC18RUrw" />{% endif %}

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

	<!-- Bootstrap Links -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" media="all" href="{{ "/css/gcTheme4.css" | prepend: site.baseurl }}">

	<link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>
	<link rel="apple-touch-icon-precomposed" href="//www.snu.ac.kr/mobileicon.png" />
	{% seo %}

</head>
