---
layout: default
---

<article class="post">
  <div
    style="
      position: relative;
      max-height: 200px;
      overflow: hidden;
      margin: 0 auto;
      margin-top: -10px;
    "
  >
    <img
      src="../img/default/Banner2.png"
      style="width: 100%; object-fit: cover"
    />
    <div
      class="post-header"
      style="
        position: absolute;
        bottom: 25px;
        left: 30px;
        right: 10px;
        padding: 10px;
        text-align: left;
        color: #fff;
        font-weight: bold;
        font-size: 26px;
        max-width: 1170px;
        margin: 0 auto;
      "
    >
      {{ page.title }}
    </div>
    <div
      class="post-header"
      style="
        height: 37px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.8);
        padding: 10px;
      "
    ></div>
  </div>

  <div
    class="post-content"
    style="max-width: 1170px; position: relative; margin: 0 auto; {% unless page.title == 'Info' or page.title == 'Research' %} margin-top: -37px; {% endunless %};"
  >
    {{ content }}
  </div>
</article>
